.news {
  max-width: 900px;
  margin: 20px auto 70px auto;
  display: block;
  text-align: center;
  h2 {
    max-width: 90%;
    margin: 70px auto 40px auto;
    font-size: 27px;
  }
  img {
    width: 100%;
    margin: 0 auto 90px auto;
  }
  p {
    font-size: 22px;
  }
  button {
    background: #000;
    color: #fff;
    font-size: 20px;
    outline: none;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-top: 20px;
    &:hover {
      background: #fff;
      color: black;
      border: 1px solid #000;
      transform: scale(1.1);
    }
  }
}

@media (max-width: 768px) {
  .news {
    h2 {
      font-size: 19px;
      width: 100%;
      margin: 0 auto 20px auto;
    }
    img {
      margin: 20px auto 40px auto;
    }
    p {
      font-size: 18px;
    }
  }
}@media (max-width: 576px) {
  .news {
    h2 {
      font-size: 15px;
    }
  }
}